{% extends "base.html" %}
{% block title %} Настроить сложность {% endblock %}
  {% block content %}
  <div class="example__container">
    <div class="check">
        <h2 class="check__txt">Ответ: 10</h2>
    </div>
    <h1 class="example__title">Продолжить решать?</h1>
    <div class="settings">
        <div class="settings__diff settings__container">
            <h4 class="settings__title">Сложность</h4>
        </div>
        <div class="settings__type settings__container">
            <h4 class="settings__title">Тип примеров</h4>
        </div>
    </div>
  </div>
  {% endblock %}